@model OnlineBookstore.Data.Entities.Publisher
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h3 class="crud-title">Add publisher</h3>
    <hr />
    <div class="wrapper">
        <div class="row">
            <div class="col-12 col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Enter name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>                                      
                    <div class="form-group">
                        <label asp-for="Country" class="control-label">Enter country</label>
                        <input asp-for="Country" class="form-control" placeholder="Enter country" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>     
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-block btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>